
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashBoard.cshtml";
}

<div class="title-block">
    <h1 class="title">Welcome </h1><p class="title-description">
        @User.Identity.Name
    </p>
</div>