
<footer class="footer">

    <div class="footer-block author">
        <ul>
            <li>
                Layout created by
                <a href="https://github.com/modularcode">ModularCode</a>
            </li>
            <li>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </li>
        </ul>
    </div>
</footer>